.header-about{
    border: 10px;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-top: -2px;
    background-color: #17A2B8;

}

.about-header-title{
    margin-left: 190px;
    color: #fff;
    font-size: 40px;
    margin-top: -50px;
    font-family: monospace;

}

.container{
    text-align: center;
  }
  .logo{
    height: 15rem;
    margin-left: 15px;
  }
  .title{
    font-size: 27px;
    font-weight: bold;
    line-height: 38px;
  }
  .box{
    width: 50%;
    height: 350px;
    box-shadow:  5px 5px 10px #888888;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    padding: 10px;
    }

  .subtitle{
    width: 520px; 
    text-align: center;
    margin-left: 15vh;
    font-size: 22px;
    padding: 15px;
  }

.members{
    margin-left: 690px;
    margin-top: 15px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.member-one{
    margin-left:-255px;
}

.member-two{
    margin-left:200px;
}

.member-three{
    margin-left:200px;
}

.ending{
    font-size: 12px;
    margin-top: 50px;
    font-weight: lighter;
    
}