.nav-square{
  width: 100%;
  border-radius: 1px;
  background-color: #17A2B8;
  padding:20px;
}

.hippo-logo{
  margin-left: 45%;
}

.body{
  font-size:15px;
  padding-left:520px;
  padding-top:20px;
     
}

.signup{
  font-size:30px;
  padding-top:20px;
  padding-left:735px;
  font-weight: bold;
  
}

.confirm-password{
  margin-top: 15px;
}

.btnsignup{
  height:40px;
  width:200px;
  border:none;
  border-radius:10px;
  margin-top:20px;
  margin-left: 300px;
  text-align:center;
  color:white;
  font-size:20px;
  background-color: #17A2B8;
}
